<a id="lightcontrol_indicator" class="pull-right" title="Toggle Light" href="#" data-bind="click: function() { loginState.isUser() && $root.toggleLight(); }, visible: (isLightOn() !== undefined)" style="display: none">
    <i class="icon-lightbulb"></i>
</a>
